@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes App</h1>
    <p>Simple app Where you can store your jokes and modify as per your requirement.</p>
    <p>this web App is built using .NET Framework.</p>
    <p>Head to the jokes tab to see the list of jokes.</p>
</div>
